.steps{
    background-image: url('/public/images/bg-sidebar-desktop.svg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
    padding: 4rem 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    opacity: .95;
}

.step_details{
    color: var(--black);
    grid-column: 2/-1;
    margin: 3rem auto;
    width: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-spacing: .2rem;
}

.step_details-actions{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}