.price-card{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border: 1px solid var(--gray-2);
    flex-basis: 13.5rem;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    transition: all 300ms ease-in-out;
}

.price-card:hover,
.price-card[data-active=true]{
    border: 1px solid var(--marine-blue);
}

.price-card[data-active=true]{
    background-color: var(--magnolia);
}
.price-card__icon{
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--strawberry-red);
    border-radius: 100%;
    opacity: .6;
}

.price-card__info{

}

.price-card__info-title{
    margin-bottom: 1rem;
    font-family: var(--font-family-bold);
    text-transform: capitalize;
}

.price-card__info-price{
    color: var(--gray);
    font-size: 1.4rem;
}