.form-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    letter-spacing: -.05rem;
}

.form-group > input{
    flex-basis: 100%;
    border: .1px solid var(--gray);
    padding: 1.5rem;
    border-radius: 1rem;
    color: var(--marine-blue);
    font-size: 1.6rem;
    font-weight: 600;
    /* box-shadow: 0 .3px 2px .1px var(--gray); */
}

.form-group > input:focus{
    outline: .1px solid var(--purplish-blue);
    border: .1px solid var(--purplish-blue);
}

.form-group > input::placeholder{
    color: var(--gray);
    font-weight: 6  00;
    font-size: 1.5rem;
}

.form-group__error{
    color: var(--strawberry-red);
    font-weight: 600;
}