.personal-info{
    display: grid;
    color: var(--marine-blue);
    font-weight: 500;
    gap: 3rem;
    margin-top: 2rem;
}

.personal-info__header{
    display: grid;
    row-gap: 1rem;
}
.personal-info__header-title{
    font-weight: 600;
}

.personal-info__info__header-sub-title{
    color: var(--gray);
    letter-spacing: -.05rem;
}
.personal-info__form{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-size: 1.5rem !important;
}