@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Regular.ttf")
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("/fonts/Ubuntu-Medium.ttf")
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("/fonts/Ubuntu-Bold.ttf")
}

:root {
    /* ----- */
    /* Color */
    /* ----- */

    /* ------- */
    /* Primary */
    /* ------- */
    --marine-blue-opacity: hsla(213, 96%, 18%, .9);
    --marine-blue: hsla(213, 96%, 18%, 1);
    --purplish-blue-opacity: hsla(243, 100%, 62%, .1);
    --purplish-blue: hsla(243, 100%, 62%, 1);
    --pastel-blue-opacity: hsla(228, 100%, 84%, .5);
    --pastel-blue: hsla(228, 100%, 84%, 1);
    --light-blue-opacity: hsla(206, 94%, 87%, .5);
    --light-blue: hsla(206, 94%, 87%, 1);
    --strawberry-red-opacity: hsla(354, 84%, 57%, .5);
    --strawberry-red: hsla(354, 84%, 57%, 1);
    --orange: hsl(25, 100%, 50%);

    /* ------- */
    /* Neutral */
    /* ------- */
    --cool-gray: hsla(231, 11%, 63%, 1);
    --light-gray: hsla(229, 24%, 87%, 1);
    --magnolia: hsla(217, 100%, 97%, 1);
    --alabaster: hsla(231, 100%, 99%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --black: #000;
    --gray: hsla(231, 11%, 63%, 1);
    --gray-2: hsla(229, 24%, 87%, 1);

    /* ----------- */
    /* Font Family */
    /* ----------- */
    --font-family-regular: 'Ubuntu', sans-serif;
    --font-family-medium: 'Ubuntu-Medium', sans-serif;
    --font-family-bold: 'Ubuntu-Bold', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-regular);
}

html {
    font-size: 62.5%;
    font-family: var(--font-family-regular);
}

body>div {
    font-size: 1.6rem;
    padding: 1.5rem;
    height: 100vh;
}